<form action="<%= articles_path %>" method="post">
  <p>Title:</p>
  <input type="text" name="title">
  <p>Body:</p>
  <input type="text" name='body'>
  <input type="submit" value="Submit">
  <input  type="hidden"
    name="authenticity_token"
    value="<%= form_authenticity_token %>">
</form>