<form action='/articles' method="post">
  <p>Title:</p>
  <input type="text" name="title">
  <p>Body:</p>
  <textarea rows="10" cols="30" name="body"></textarea>
  <input type="submit" value="Submit">
</form>